.content {
    width: 24%;
    margin: -5px 0 0 -5px;
    border-right: 3px solid black;
    background-color: orange;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}     
.content > div {
    width: 100%;
    height: 30px;
}
.content > div.chek {
    width: calc(100% / 3);
}
.content > div > label {
    width: 50%;
}
.content > div > input.area {
    margin-left: 5px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    padding: 1px 10px;
    outline: none;
}
.content > div > input.area:focus {
    border: 1px solid rgb(66, 206, 219);
}
.container {
    width: 100%;
    display: flex;
    flex-flow: row;
}
.logo {
    width: 76%;
}
:root {
    --text-color: black;
    --bg-color: transparent;
    --font-size: 20px;
    --text-align: center;
    --font-family: Arial;
    --text-decor: none;
    --font-bold: bold;
    --font-italic: normal;
    --border-radius: 0px;
}
.logo h1 {
    width: 90%;
    margin: 40px auto;
    font-size: var(--font-size);/*have*/
    background-color: var(--bg-color);/*have*/
    color: var(--text-color);/*have*/
    text-align: var(--text-align);/*have*/
    font-family: var(--font-family);/*have*/
    text-decoration: var(--text-decor);/*have*/
    font-weight: var(--font-bold);/*have*/
    font-style: var(--font-italic);/*have*/
    border: var(--border-size) solid var(--text-color);/*have*/
    border-radius: var(--border-radius);/*have*/
}