.content {
    width: 24%;
    height: 600px;
    margin: -7px 0 0 -7px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    background-color: orange;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}     
.content > div.title {
    width: 100%;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0;
}
.title p {
    font-size: 1.6em;
    font-style: italic;
}
.content > div {
    width: 100%;
    height: 30px;
}
.content > div.chek {
    width: calc(100% / 2);
}
.content > div > label {
    width: 50%;
}
.content > div > input.area {
    width: 60px;
    margin-left: 5px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    padding: 1px 10px;
    outline: none;
}
.content > div > input.area:focus {
    border: 1px solid rgb(66, 206, 219);
}
.container {
    width: 100%;
    display: flex;
    flex-flow: row;
}
.logo {
    width: 76%;
}
:root {
    --text-color: black;
    --bg-color: transparent;
    --font-size: 20px;
    --text-align: center;
    --font-family: Arial;
    --text-decor: none;
    --font-bold: bold;
    --font-italic: normal;
    --border-radius: 0px;
    --border-size: 0px;
    --border-color: transparent;
    --weight: 90%;
    --height: 40px;
    --line-height: 0px;
}
.logo h1 {
    height: var(--height);
    width: var(--weight);
    line-height: var(--line-height);
    margin: 40px auto;
    font-size: var(--font-size);
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: var(--text-align);
    font-family: var(--font-family);
    text-decoration: var(--text-decor);
    font-weight: var(--font-bold);
    font-style: var(--font-italic);
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
}